:80 {
	root * /app

	file_server

	@plausible path /api/event
	handle @plausible {
		# Change this if you use a different variant of the script
		# e.g. rewrite /js/script.js /js/script.outbound-links.js
		reverse_proxy https://plausible.io {
			header_up Host {http.reverse_proxy.upstream.hostport}
			transport http {
					tls
					tls_insecure_skip_verify
			}
		}
	}
}
