package components

templ header() {
	<header x-data="{ open: false }" class="space-y-4">
		<h1 class="text-4xl font-bold text-center">
			Entity<span class="font-light">Decode</span>
		</h1>
		@about()
	</header>
}
