@import "tailwindcss";

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --radius: var(--radius);
}

@layer base {
  :root {
    --background: 212.3 8.3% 86.1%;
    --foreground: 220 3.4000000000000004% 30.799999999999997%;
    --card: 212.3 8.3% 86.1%;
    --card-foreground: 220 3.4000000000000004% 30.799999999999997%;
    --popover: 212.3 8.3% 86.1%;
    --popover-foreground: 220 3.4000000000000004% 30.799999999999997%;
    --primary: 235.1 100% 25.900000000000006%;
    --primary-foreground: 236.4 56.7% 90%;
    --secondary: 212.7 8% 88%;
    --secondary-foreground: 220 3.4000000000000004% 60.8%;
    --muted: 213.3 7.600000000000001% 90%;
    --muted-foreground: 220 3.4000000000000004% 60.8%;
    --accent: 213.3 7.600000000000001% 90%;
    --accent-foreground: 220 3.4000000000000004% 50.8%;
    --destructive: 357.2 100% 29%;
    --destructive-foreground: 220 3.4000000000000004% 30.799999999999997%;
    --border: 220 3.4000000000000004% 60.8%;
    --input: 220 3.4000000000000004% 60.8%;
    --ring: 235.1 100% 25.900000000000006%;
    --radius: 0.5rem;
    --chart-1: 235.1 100% 80%;
    --chart-2: 212.7 8% 42%;
    --chart-3: 213.3 7.600000000000001% 40%;
    --chart-4: 213.3 7.600000000000001% 50%;
    --chart-5: 235.1 100% 80%;

    --sidebar-background: 212 8% 83%;
    --sidebar-foreground: 220 3% 28%;
    --sidebar-primary: 235 100% 63%;
    --sidebar-primary-foreground: 236 57% 100%;
    --sidebar-accent: 213 8% 87%;
    --sidebar-accent-foreground: 220 3% 0%;
    --sidebar-border: 220 3% 58%;
    --sidebar-ring: 235 100% 23%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 212.3 18.3% 13.9%;
      --foreground: 220 13.4% 69.2%;
      --card: 212.3 18.3% 13.9%;
      --card-foreground: 220 13.4% 69.2%;
      --popover: 212.3 18.3% 13.9%;
      --popover-foreground: 220 13.4% 69.2%;
      --primary: 235.1 110.7% 74.1%;
      --primary-foreground: 236.4 66.7% 5.4%;
      --secondary: 212.7 18% 12%;
      --secondary-foreground: 220 13.4% 39.2%;
      --muted: 213.3 17.6% 10%;
      --muted-foreground: 220 13.4% 39.2%;
      --accent: 213.3 17.6% 10%;
      --accent-foreground: 220 13.4% 49.2%;
      --destructive: 357.2 125.9% 71%;
      --destructive-foreground: 220 13.4% 69.2%;
      --border: 220 13.4% 39.2%;
      --input: 220 13.4% 39.2%;
      --ring: 235.1 110.7% 74.1%;
      --radius: 0.5rem;
      --chart-1: 235.1 110.7% 74.1%;
      --chart-2: 212.7 18% 12%;
      --chart-3: 213.3 17.6% 10%;
      --chart-4: 213.3 17.6% 20%;
      --chart-5: 235.1 110.7% 84.1%;

      --sidebar-background: 212 18% 6%;
      --sidebar-foreground: 220 13% 61%;
      --sidebar-primary: 235 100% 66%;
      --sidebar-primary-foreground: 236 67% 100%;
      --sidebar-accent: 213 18% 25%;
      --sidebar-accent-foreground: 220 13% 100%;
      --sidebar-border: 220 13% 31%;
      --sidebar-ring: 235 100% 66%;
    }
  }
}
