.slide-fade-enter-active {
    transition: all 0.3s ease;
}

.slide-fade-exit-active {
    transition: all 0.3s ease;
}

.slide-fade-enter,
.slide-fade-exit-to {
    transform: translateY(-10px);
    opacity: 0;
}

.label.is-inline {
    display: inline;
}