<div id="about">
  <div class="tabs is-centered">
    <ul>
      <li class="{{ active ? 'is-active' : '' }}" on:click="set({active: !active})"><a href="javascript:void()">About</a></li>
    </ul>
  </div>
  {{#if active}}
  <div transition:slide id="about-contents">
    <p><strong>Entity</strong><span class="has-text-weight-light">Decode</span> is a tool to change any escaped characters, such as %24 in URLs, and HTML entities such as &amp;raquo; into their proper characters (you can try both of those down below if you want!).</p>
    <p>You can use this to decode any HTML Entities, or URL Encodings, and make them more readable, by pasting/typing it into the
        <label for="encode" class="label is-inline">Encoded</label> Textbox.</p>
    <p>It also works the other way, you can paste/type anything you want to convert into an HTML Entity into the
        <label for="decode" class="label is-inline">Decoded</label> Textbox.</p>
    <p>If you have no idea what I'm on about, with <a href="https://en.wikipedia.org/wiki/Character_encodings_in_HTML#Character_references">HTML Entities</a> and <a href="https://en.wikipedia.org/wiki/Percent-encoding">URL Encodings</a>, click the respective links to view more information about them.</p>
    <hr />
  </div>
  {{/if}}
</div>

<script>
import slide from 'svelte-transitions-slide'

export default {
  transitions: {
    slide
  },
  data() {
    return {
      active: false
    }
  }
}
</script>

<style>
#about {
  margin-bottom: 1.5rem;
}
</style>
