<div id="app">
  <section class="section">
    <div class="container">
      <h1 class="title has-text-centered"><strong>Entity</strong><span class="has-text-weight-light">Decode</span></h1>
      <About />
      <div id="options" class="has-text-centered">
        <label class="checkbox">
          <input type="checkbox" bind:checked="htmlEntity" />
          HTML Entity Encode/Decode
        </label>
        &nbsp;
        <label class="checkbox" title="Currently only Decoding is supported as Encoding causes too many problems">
          <input type="checkbox" bind:checked="urlEncoding" />
          URL Encoding Decode (?)
        </label>
      </div>
      <Field ref:encode id="encode" bind:data="encoded" label="Encoded" placeholder="e.g. &amp;raquo;" />
      <Field ref:decode id="decode" bind:data="decoded" label="Decoded" placeholder="e.g. &raquo;" />
    </div>
  </section>
  <Footer />
</div>

<script>
import he from 'he'

import About from '@/components/About'
import Field from '@/components/Field'
import Footer from '@/components/Footer'
export default {
  components: {
    About,
    Field,
    Footer
  },
  data() {
    return {
      encoded: '',
      decoded: '',
      htmlEntity: true,
      urlEncoding: true
    }
  },
  methods: {
    encode(data) {
      if (this.get('htmlEntity')) {
        try {
          data = he.encode(data)
        } catch (e) {
          // do nothing
        }
      }
      // if (this.get('urlEncoding')) {
      //   try {
      //     data = encodeURIComponent(data)
      //   } catch (e) {
      //     // do nothing
      //   }
      // }
      return data
    },
    decode(data) {
      if (this.get('htmlEntity')) {
        try {
          data = he.decode(data)
        } catch (e) {
          // do nothing
        }
      }
      if (this.get('urlEncoding')) {
        try {
          data = decodeURIComponent(data)
        } catch (e) {
          // do nothing
        }
      }
      return data
    }
  },
  oncreate() {
    this.observe('encoded', data => {
      this.set({
        decoded: this.decode(data)
      })
    })
    this.observe('decoded', data => {
      this.set({
        encoded: this.encode(data)
      })
    })
  }
}
</script>
