@import 'milligram/src/Color';

$color-primary: #3273dc;

@import 'milligram/src/Base';
@import 'milligram/src/Typography';
@import 'milligram/src/Grid';
@import 'milligram/src/Button';
@import 'milligram/src/Form';
// @import 'milligram/src/Divider';
// @import 'milligram/src/Utility';

body {
  padding-top: 2rem;
}

.has-text-centered {
  text-align: center;
}
.has-text-right {
  text-align: right;
}

.has-text-left {
  text-align: left;
}

a {
  color: $color-primary;
  text-decoration: none;
}

.button-nav {
  @extend .button, .button-outline;
  color: $color-secondary;
  border-color: transparent;
  &:hover,&.active, &:focus {
    border-color: transparent transparent $color-secondary transparent;
  }
  margin-bottom: 1.5rem;
}

.footer {
  padding: 3rem 1.5rem;
}