---
import About from "../components/About.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="EntityDecode is a tool to change any escaped characters into their proper characters"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>EntityDecode</title>
    <script defer src="https://st.ika.dev/script.js" data-website-id="6973ec79-ae26-475e-bd4c-5d5bd305d7da" data-domains="entitydecode.com"></script>
    <style is:global>
      [x-cloak] {
        display: none !important;
      }
    </style>
  </head>
  <body class="flex flex-col w-full max-w-screen-xl m-auto gap-4 p-4">
    <header x-data="{ open: false }" class="space-y-4">
      <h1 class="text-4xl font-bold text-center">
        Entity<span class="font-light">Decode</span>
      </h1>
      <About />
    </header>
    <main>
      <slot />
    </main>
    <footer class="text-sm text-center">
      <p>
        Source Code:
        <a class="link" href="https://github.com/RobBrazier/entitydecode.com">
          GitHub
        </a>
      </p>
    </footer>
  </body>
</html>
